.container {
	width:800px;
	border: 1px solid black;
	margin:auto;
	padding:5px;
}

.kiri {
	width:150px;
	height:200px;
	background-color: salmon;
	float:left;
}
.tengah {
	width:500px;
	height:200px;
	background-color: lightskyblue;
	float:left;
}
.kanan {
	width:150px;
	height:200px;
	background-color: brown;
	float:left;
}

.clear {
	clear: left;
}